html,
body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: var(--font-ui);
    font-weight: var(--regular);
    color: var(--black);
    text-rendering: auto;
    overflow-wrap: break-word;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

figure {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    &.t-headline,
    &.t-body,
    &.t-callout,
    &.t-caption {
        font-weight: var(--bold);
    }
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Test for fix fonts */
* {
    -webkit-locale: auto;
    white-space: normal;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}
